@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300&display=swap");

.code {
  background-color: #121212;
  color: white;
  font-family: "Fira Code";
}

.code .tag {
  color: #6a6a6a;
}

.code .tag-name {
  color: #5598d1;
}

.code .attr-name {
  color: #9cdcfe;
}
.code .attr-value {
  color: #ca8e76;
}
